@let _isExpanded = isExpanded();

<nav class="flex flex-row gap-4 rounded-2xl bg-gray-200 p-4 md:flex-col dark:bg-gray-900">
  <button
    class="my-icon-button primary hidden self-end md:flex"
    (click)="isExpanded.set(!_isExpanded)"
  >
    <span class="mat-icon mat-icon-3xl">
      @if (!_isExpanded) {
        dock_to_right
      } @else {
        dock_to_left
      }
    </span>
  </button>
  <button class="my-button primary justify-start self-end p-2 md:w-full">
    <span class="mat-icon mat-icon-3xl">today</span>
    <span>Hoy</span>
  </button>
  <button class="my-button primary justify-start self-end p-2 md:w-full">
    <span class="mat-icon mat-icon-3xl">calendar_clock</span>
    <span>Próximo</span>
  </button>
</nav>
