<nav class="flex w-full gap-4 rounded-2xl bg-gray-700 p-4 select-none">
  <button class="my-button primary">
    <span class="mat-icon">add_task</span>
    <span class="font-subtitle-lg">Añadir tarea</span>
  </button>
  <button class="my-button primary">
    <span class="mat-icon">today</span>
    <span class="font-subtitle-lg">Hoy</span>
  </button>
  <button class="my-button primary">
    <span class="mat-icon">calendar_clock</span>
    <span class="font-subtitle-lg">Próximo</span>
  </button>
  <!--<button class="my-button primary">
    <span class="mat-icon">assignment</span>
    <span class="font-subtitle-lg">Mis tareas</span>
  </button>
  <button class="my-button primary">
    <span class="mat-icon">assignment_globe</span>
    <span class="font-subtitle-lg">Mis tareas compartidas</span>
  </button>-->
</nav>
