@let _isExpanded = isExpanded();

<nav class="flex flex-row gap-4 rounded-full bg-gray-900 p-4 md:flex-col md:bg-transparent">
  <button
    class="my-icon-button primary hidden self-end md:flex"
    (click)="isExpanded.set(!_isExpanded)"
  >
    <span class="mat-icon mat-icon-3xl">
      @if (!_isExpanded) {
        dock_to_right
      } @else {
        dock_to_left
      }
    </span>
  </button>
  <button
    class="my-button primary justify-start self-end rounded-full p-2 md:w-full md:rounded-lg"
    (click)="onClickAddTask()"
  >
    <span class="mat-icon mat-icon-3xl">add_task</span>
    <span>Añadir tarea</span>
  </button>
  <button class="my-button primary justify-start self-end rounded-full p-2 md:w-full md:rounded-lg">
    <span class="mat-icon mat-icon-3xl">today</span>
    <span>Hoy</span>
  </button>
  <button class="my-button primary justify-start self-end rounded-full p-2 md:w-full md:rounded-lg">
    <span class="mat-icon mat-icon-3xl">calendar_clock</span>
    <span>Próximo</span>
  </button>
</nav>
