@layer components {
  button.my-icon-button {
    @apply flex h-10 max-h-10 min-h-10 w-10 max-w-10 min-w-10 cursor-pointer items-center justify-center rounded-lg select-none;

    &.primary {
      @apply bg-my-primary-default hover:bg-my-primary-hover active:bg-my-primary-active disabled:bg-my-primary-default/10 text-white;
    }
  }
}
