@layer components {
  input[type='text'].my-input,
  input[type='number'].my-input,
  input[type='password'].my-input,
  input[type='email'].my-input {
    @apply font-body-md focus-visible:border-my-primary-default h-11 max-h-11 min-h-11 appearance-none rounded-lg border border-gray-400 bg-transparent p-3 text-gray-900 outline-none placeholder:text-gray-400 hover:border-gray-900 focus-visible:border-2 disabled:cursor-not-allowed disabled:border-gray-200 disabled:text-gray-200 disabled:placeholder:text-transparent;
  }
}
