@layer components {
  my-expansion-drawer {
    @apply flex h-full w-full flex-1;

    .my-expansion-drawer-launcher-container {
      @apply z-1 flex flex-col overflow-hidden bg-gray-100 transition-all duration-500 dark:bg-gray-900;

      .my-expansion-drawer-launcher {
        @apply flex flex-1 flex-col overflow-hidden;
      }

      &.expanded {
        @apply shadow-2xl;
      }
    }

    .my-expansion-drawer-content-container {
      @apply flex flex-1 flex-col overflow-hidden bg-gray-200 dark:bg-gray-800;

      .my-expansion-drawer-content {
        @apply flex flex-1 flex-col overflow-hidden;
      }
    }
  }
}
