@layer components {
  button.my-icon-button {
    @apply flex cursor-pointer items-center justify-center rounded-lg p-1 select-none;

    &.primary {
      @apply hover:text-my-primary-hover active:text-my-primary-active text-gray-900 disabled:text-gray-400;
    }

    &.ghost {
      @apply rounded-full bg-transparent text-white hover:bg-white/15 active:bg-white/30 disabled:bg-transparent disabled:text-white/50;
    }
  }
}
