@layer components {
  my-dialog {
    @apply relative flex flex-col w-full h-full p-0;

    my-dialog-header {
      @apply flex flex-col;
    }

    my-dialog-content {
      @apply relative flex flex-col flex-1 p-0 m-0;
    }

    my-dialog-footer {
      @apply flex items-center flex-wrap gap-6 mt-6;

      & > button.my-button {
        @apply flex-1;
      }
    }
  }
}
