@import 'tailwindcss';
@import './app/library/styles/_my-button.css';
@import './app/library/styles/_my-expansion-drawer.css';
@import './app/library/styles/_my-icon-button.css';

/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-Italic-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Material Symbols Rounded';
  src: url('./assets/fonts/material/Material-Symbols-Rounded.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
  font-display: block;
}

/* Subtitle */

@utility font-subtitle-lg {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 700;
}

@utility font-subtitle-md {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

@utility font-subtitle-sm {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 700;
}

@utility font-subtitle-xs {
  font-family: 'Roboto', sans-serif;
  font-size: 0.625rem;
  line-height: 1.125rem;
  font-weight: 700;
}

/* Body */

@utility font-body-lg {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

@utility font-body-md {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@utility font-body-sm {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@utility font-body-xs {
  font-family: 'Roboto', sans-serif;
  font-size: 0.625rem;
  line-height: 1.125rem;
  font-weight: 400;
}

/* Action */

@utility font-action-lg {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}

@utility font-action-md {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

@utility font-action-sm {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 700;
}

/* Icons */

@utility mat-icon {
  font-family: 'Material Symbols Rounded', sans-serif;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  display: inline-block;
  direction: ltr;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  word-wrap: normal;
  font-size: 1.125rem;
  line-height: 1.125rem;
}

@utility mat-icon-fill {
  font-family: 'Material Symbols Rounded', sans-serif;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24 !important;
  display: inline-block;
  direction: ltr;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  word-wrap: normal;
  font-size: 1.125rem;
  line-height: 1.125rem;
}

@utility mat-icon-sm {
  font-size: 0.875rem;
  line-height: 0.875rem;
}

@utility mat-icon-md {
  font-size: 1rem;
  line-height: 1rem;
}

@utility mat-icon-lg {
  font-size: 1.125rem;
  line-height: 1.125rem;
}

@utility mat-icon-xl {
  font-size: 1.125rem;
  line-height: 1.125rem;
}

@utility mat-icon-2xl {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

@utility mat-icon-3xl {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

html,
body {
  @apply font-body-lg h-dvh w-dvw bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-50;
}

body {
  @apply overflow-hidden;
}
