<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          {{ 'auth.signIn.signInToYourAccount' | translate }}
        </h1>
        <form [formGroup]="form" class="space-y-4 md:space-y-6" (submit)="onSubmit()">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              {{ 'auth.signIn.yourEmail' | translate }}
            </label>
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 h-12 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              [placeholder]="'auth.signIn.emailPlaceholder' | translate"
              formControlName="email"
              required="" />
            @if (isRequired('email')) {
              <small class="text-red-400">
                {{ 'auth.signIn.thisFieldIsRequired' | translate }}
              </small>
            }
            @if (isNotAnEmail('email')) {
              <small class="text-red-400">
                {{ 'auth.signIn.thisEmailIsNotValid' | translate }}
              </small>
            }
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              {{ 'auth.signIn.password' | translate }}
            </label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              formControlName="password"
              class="bg-gray-50 border h-12 border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required="" />
            @if (isRequired('password')) {
              <small class="text-red-400">
                {{ 'auth.signIn.thisFieldIsRequired' | translate }}
              </small>
            }
          </div>
          <button
            type="submit"
            class="cursor-pointer h-12 w-full text-white font-medium rounded-lg text-sm px-5 py-3 text-center bg-blue-600 hover:bg-blue-700 active:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-900 disabled:bg-gray-600! disabled:cursor-not-allowed">
            {{ 'auth.signIn.signIn' | translate }}
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            {{ 'auth.signIn.doNotHaveAnAccountYet' | translate }}
            <a
              routerLink="/auth/sign-up"
              class="cursor-pointer font-medium text-blue-600 hover:underline dark:text-blue-500">
              {{ 'auth.signIn.signUp' | translate }}
            </a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
